/* stylelint-disable selector-list-comma-newline-after */

:root {
    --links: #0aa587;
    --highlight: #af14af;
    --headers: #a5149e;
}

header h1 a {
    color: var(--headers);
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.2em;
}

ul.social-menu {
    float: right;
    clear-after: both;
}

ul.social-menu li {
    display: inline;
    list-style-image: none;
}

ul.social-menu li a img {
    width: 24px;
}

ul.site-menu {
    text-align: center;
}

ul.site-menu li {
   display: inline;
}

ul.site-menu li a {
    padding: 5px 10px;
}

.blog-header-logo {
    font-family: 'Fredoka One', sans-serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

a {
    color: var(--links);
}

a:hover {
    color: var(--highlight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--headers);
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}
.blog-post .cover-image {
    margin: 0;
    max-width: 100%;
}
.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}
.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-post img {
    text-align: center;
}

.blog-post .tag-list {
    margin-top:  2rem;
    background: #f5f5f5;
    color: #999999;
    padding: .5rem;
    border-bottom: 1px solid #e5e5e5;
}

.blog-post .tag-list a {
    color: #999999;
    border-bottom: 1px dotted #e5e5e5;
}

section.navigation {
    display: block;
    padding: 1rem 0 5rem 0;
    text-align: center;
}

section.navigation li {
    list-style-image: none;
    display: inline;
}

section.navigation li.current {
    padding: .6rem;
    background-color: #333333;
    color: whitesmoke;
}

section.navigation li a {
    padding: .6rem;
    background-color: whitesmoke;
    color: #333333;
    border: 1px solid #999999;
}

/**
 * Lives page
 */

section.past_streams {
    display: block;
}

section.past_streams div {
    width: 31%;
    padding: .5rem;
    float: left;
}

section.past_streams div img {
    width: 100%;
}
span.clear {
    display: block;
    clear: both;
}

/*
 * Footer
 */
.blog-footer {
    padding: 1rem;
    padding-bottom: 2.5rem;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}